<!DOCTYPE html>

<h1 id="chucknorrisapi">chucknorrisAPI</h1>
<p>Simple API to show jokes about Chuck Norris.</p>
<h2 id="tldr">TL;DR</h2>
<pre><code class="language-bash"># enter the project
# query on linux
http localhost:5000/api/jokes/random

# query on windows powershell
Invoke-RestMethod -Uri http://localhost:5000/api/jokes/random
</code></pre>
<h2 id="get">GET</h2>
<h3 id="random-joke">Random Joke</h3>
<pre><code class="language-bash"># Linux
http localhost:5000/api/jokes/random

# Windows
Invoke-RestMethod -Uri http://localhost:5000/api/jokes/random | Format-List
</code></pre>
<h4 id="output">Output:</h4>
<pre><code class="language-bash">{
    &quot;categories&quot;: [],
    &quot;id&quot;: &quot;_fM8fGOdT5iH2Eibtgu4Vg&quot;,
    &quot;joke&quot;: &quot;Schindlers List is based on one of Chuck Norris wet dreams&quot;
}
</code></pre>
<h3 id="list-of-categories">List of Categories</h3>
<pre><code class="language-bash"># Linux
http localhost:5000/api/jokes/categories

# Windows
Invoke-RestMethod -Uri http://localhost:5000/api/jokes/categories
</code></pre>
<h4 id="output-1">Output:</h4>
<pre><code class="language-bash">[
    &quot;animal&quot;,
    &quot;career&quot;,
    &quot;celebrity&quot;,
    &quot;dev&quot;,
    &quot;explicit&quot;,
    &quot;fashion&quot;,
    &quot;food&quot;,
    &quot;history&quot;,
    &quot;money&quot;,
    &quot;movie&quot;,
    &quot;music&quot;,
    &quot;political&quot;,
    &quot;religion&quot;,
    &quot;science&quot;,
    &quot;sport&quot;,
    &quot;travel&quot;
]
</code></pre>
<h3 id="joke-by-id">Joke by ID</h3>
<pre><code class="language-bash"># Linux
http localhost:5000/api/jokes/id/&lt;id&gt;

# Windows
Invoke-RestMethod -Uri http://localhost:5000/api/jokes/id/&lt;id&gt; | Format-List
</code></pre>
<h4 id="output-2">Output:</h4>
<pre><code class="language-bash">{
    &quot;categories&quot;: [],
    &quot;id&quot;: &quot;lx5mMleKQ_OjYAN6ZU3BNw&quot;,
    &quot;joke&quot;: &quot;God offered Chuck Norris the gift to fly, which he swiftly declined for super strength roundhouse ability.&quot;
}
</code></pre>
<h3 id="random-joke-by-category">Random Joke by Category</h3>
<pre><code class="language-bash"># Linux
http localhost:5000/api/jokes/&lt;category&gt;

# Windows
Invoke-RestMethod -Uri http://localhost:5000/api/jokes/&lt;category&gt; | Format-List
</code></pre>
<h4 id="output-3">Output:</h4>
<pre><code class="language-bash">{
    &quot;categories&quot;: [
        &quot;dev&quot;
    ],
    &quot;id&quot;: &quot;s4ymkruzsks7loog8eqsya&quot;,
    &quot;joke&quot;: &quot;Chuck Norris hosting is 101% uptime guaranteed.&quot;
}
</code></pre>
<h2 id="post">POST</h2>
<h3 id="search-joke-with-limit">Search Joke With Limit</h3>
<p>Search have two parameters:</p>
<ul>
<li>search=<em>{string}</em></li>
<li>limit=<em>{number}</em>
</ul>

<pre><code class="language-bash">

# Linux
http --form post localhost:5000/api/jokes/filter search=computer limit=3</li>

# Windows
Invoke-RestMethod -Method POST -Uri &quot;http://localhost:5000/api/jokes/filter&quot; -Body @{search=&quot;computer&quot;; limit=&quot;3&quot;} | ForEach-Object result | Format-List

<h4 id="output">Output:</h4>
{
    &quot;result&quot;: [
        {
            &quot;categories&quot;: [],
            &quot;id&quot;: &quot;y-b7g8trr96pfmopdplf4g&quot;,
            &quot;joke&quot;: &quot;Chuck Norris doesn&#39;t use a computer because a computer does everything slower than Chuck Norris.&quot;
        },
        {
            &quot;categories&quot;: [],
            &quot;id&quot;: &quot;AN7_hBUjSW-Fnbn-28jaVQ&quot;,
            &quot;joke&quot;: &quot;When Chuck Norris wants cookies, he crashes open a computer.&quot;
        },
        {
            &quot;categories&quot;: [],
            &quot;id&quot;: &quot;mHaLxKzVRjiBLgE1KhEZ_g&quot;,
            &quot;joke&quot;: &quot;Chuck Norris can build a computer with Windows 7.&quot;
        }
    ],
    &quot;total&quot;: &quot;3&quot;
}
</code></pre>
<h2 id="todo">TODO</h2>
<blockquote>
<p>If you spell Chuck Norris in Scrabble, you win. Forever.</p>
</blockquote>

</html>
